@import '../../styles/settings.scss';

.listForm {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
}

.label {
    margin: 0 $base-size;
}